/*
=========
  Fonts
=========
*/
@font-face {
    font-family: "YekanBakh Bold";
    src: url(../fonts/YekanBakh-Bold.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Heavy";
    src: url(../fonts/YekanBakh-Heavy.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Medium";
    src: url(../fonts/YekanBakh-Medium.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Regular";
    src: url(../fonts/YekanBakh-Regular.woff) format("woff2");
}

/*
=============
  Reest Css
=============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============
  Styles Css
=============
*/
:root {
	--text-color: #1D2939;
	--primery-color: #2EC4B6;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: "YekanBakh Medium", sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
}

.icon-pack {
    display: none;
}

svg {
    width: 24px;
    height: 24px;
}

.container {
	max-width: 1248px;
	padding: 0 16px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Header */
.header {
	padding-top: 1rem;
    margin-bottom: 4.8rem;
	background-color: white;
	position: relative;
	z-index: 20;
}

.header > .container {
	height: 8rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.heaser__wrapper {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.menu {
	display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.4rem;
}

.menu__item {
	transition: all 150ms ease-in;
	position: relative;
}

.menu__link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .8rem;
	color: var(--text-color);
	transition: all .2s ease-in .1s;
}

.menu__link:hover {
	color: var(--primery-color);
}

.menu__item:hover .submenu__wrapper {
	opacity: 1;
	visibility: visible;
}

.submenu__wrapper {
	position: absolute;
    right: 0;
    top: 2.4rem;
	opacity: 0;
	visibility: hidden;
	transition: all 110ms ease-in;
	background-color: transparent;
	z-index: 20;
}

.submenu {
	position: relative;
	margin-top: 2.4rem;
	background-color: #FFFFFF;
	height: 28.8rem;
	width: 44rem;
	border-top: 1px solid #E1E1E1;
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
	overflow: hidden;
}

.submenu__item {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.59rem 2rem;
    width: 24rem;
	height: 4.79rem;
	background-color: #F4F4F5;
	transition: all 150ms ease-in;
}

.submenu__item-wrapper:hover .submenu__item {
	background-color: #FFFFFF;
}

.submenu__item-body {
	display: none;
    flex-direction: column;
    row-gap: 2.5rem;
	width: 20rem;
	padding: 2rem;
	font-size: 1.4rem;
	color: #667085;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
	/* overflow-y: auto; */
}

.submenu__item-wrapper:first-child .submenu__item-body{
    display: flex;
}

.submenu__item-wrapper:hover > .submenu__item-body {
	display: flex;
}

.overlay,
.overlay-cart {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all 110ms ease-in;
}

.overlay-cart {
	backdrop-filter: blur(0.4rem);
}

.overlay--show{
	opacity: 1;
	visibility: visible;
}

.cart__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
    border: 2px solid #E5E5E5;
	background-color: white;
    border-radius: 1rem;
    padding: 1rem;
	position: relative;
	cursor: pointer;
	outline: none;
} 

.cart {
	position: relative;
	z-index: 20;
}

.cart__badge {
    position: absolute;
	width: 2.2rem;
	height: 2.2rem;
    top: -.7rem;
    right: -.6rem;
    color: white;
    background-color: var(--primery-color);
    border-radius: 100%;
    font-size: 1rem;
	font-family: "YekanBakh Regular";
	border: 3px solid white;
	line-height: 1.9rem;
} 

.cart__body {
    position: absolute;
    top: 6.4rem;
    left: 0rem;
    width: 32rem;
    height: 44rem;
    padding: 1.6rem 2rem;
    background-color: white;
    border-radius: 1.2rem;
	opacity: 0;
	visibility: hidden;
	transition: all 110ms ease-in;
}

.cart__body--active {
	opacity: 1;
	visibility: visible;
}

.cart__header {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 1.6rem;
	margin-bottom: 1.2rem;
}

.cart__header :first-child {
	font-family: "YekanBakh Bold";
	font-size: 1.6rem;
}

.cart__header :last-child {
	font-size: 1.4rem;
	color: #667085;
}

.cart__itme {
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
	color: var(--text-color);
	padding-bottom: 1.6rem;
}

.product {
	display: flex;
	align-items: center;
	column-gap: .4rem;
	color: var(--text-color);
	position: relative;
}

.product__info {
	display: flex;
	flex-direction: column;
	row-gap: .8rem;
}

.product__name {
	font-size: 1.4rem;
	font-family: "YekanBakh Medium";
	display: block;
	width: 15.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.product__price {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.product__price-number {
	font-family: "YekanBakh Bold";
	font-size: 1.6rem;
	color: #667085;
}

.product__price-unit {
	font-family: "YekanBakh Regular";
	font-size: 1.4rem;
	color: #667085;
}

.product__remove-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: transparent;
	border: none;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	margin-right: auto;
}

.cart__footer {
	border-top: 1px solid #E5E5E5;
    padding-top: 2rem;
	margin-bottom: 2rem;
}

.cart__price-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart__price-title {
	font-family: "YekanBakh Bold";
    display: flex;
    align-items: center;
    gap: .6rem
}

.cart__price {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.cart__price :first-child {
	font-family: "YekanBakh Bold";
}

.cart__price :last-child{
	font-family: "YekanBakh Regular";
	font-size: 1.2rem;
}

.cart__footer-arrow {
	width: 2.4rem;
	height: 2.4rem;
}

.cart__body-btn {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    color: white;
    background-color: var(--primery-color);
    padding: 1.2rem 6rem;
    border-radius: 1rem;
	margin-top: 2rem;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .4rem;
    color: var(--primery-color);
    border: 2px solid var(--primery-color);
    border-radius: 1rem;
    padding: 1rem;
}

.mobile-cart {
	display: none;
	width: 28rem;
	background-color: white;
	padding: 2.1rem;
	position: fixed;
    left: -28rem;
    top: 0;
    bottom: 0;
	z-index: 20;
	flex-direction: column;
	transition: all 130ms ease-in;
}

.mobile-cart--open {
	left: 0;
}

.mobile-cart__header {
	display: flex;
    align-items: center;
    justify-content: space-between;
	border-bottom: 1px solid #E5E7EB;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.mobile-cart__title {
    font-family: "YekanBakh Bold";
}

.mobile-cart__close-btn {
	background-color: inherit;
    border: none;
    outline: none;
	cursor: pointer;
}

.mobile-cart__close-btn svg {
	width: 2rem;
	height: 2rem;
}

.mobile-cart__body {
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
}

.mobile-cart__remove {
	position: absolute;
    top: -5px;
    right: -5px;
	width: 2rem;
	height: 2rem;
}

.mobile-cart__footer {
	margin-top: auto;
}

/* Main */
.main {
	width: 100%;
	height: 33.8rem;
	background-color: var(--primery-color);
	border-radius: 1rem;
	margin-bottom: 11.2rem ;
}

.header-mobile {
	display: none;
}

/* Nav */
.nav {
	display: none;
	height: 7.2rem;
	position: fixed;
	left: 1.6rem;
	right: 1.6rem;
	bottom: 2.4rem;
}

.nav__wrapper {
	display: flex;
}

.nav__btn {
	width: 6.4rem;
	height: 6.4rem;
	background-color: var(--primery-color);
	color: white;
	padding: 2rem;
	border-radius: 999rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 0;
	left: 0;
	margin: 0 auto;
	bottom: 66px;
}

.nav__links {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	column-gap: 2.4rem;
	background-color: #1D2939;
}

.nav__links--right {
	border-top-right-radius: 1.2rem;
	border-bottom-right-radius: 1.2rem;
	padding-right: 1.2rem;
}

.nav__links--left {
	border-top-left-radius: 1.2rem;
	border-bottom-left-radius: 1.2rem;
	padding-left: 1.2rem;
}

.nav-curve {
	width: 9.7rem;
	height: 7.2rem;
	flex-shrink: 0;
}

.nav__link {
	display: flex;
	flex-direction: column;
	row-gap: .8rem;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	width: 4.2rem;
	color: white;
}

.nav__link svg {
	width: 2.3rem;
	height: 2.3rem;
}

.nav__link--active {
	color: var(--primery-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
	.heaser__wrapper--right,
	.heaser__wrapper--left {
		display: none;
	}

	.header-mobile {
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	width: 100%;
	}

	.nav-btn,
	.mobile-cart__btn {
		display: block;
		cursor: pointer;
	}

	.menu-mobile__icon {
		width: 2.4rem;
		height: 2.4rem;
	}

	.header {
		border-bottom: 1px solid #E1E1E1;
		margin-bottom: 3.4rem;
		z-index: auto;
	}

	.header > .container {
    	padding: 0 20px;
	}

	.nav {
		display: block;
	}

	.mobile-cart {
		display: flex;
	}
}