/*
=========
  Fonts
=========
*/
@font-face {
    font-family: "YekanBakh Bold";
    src: url(../fonts/YekanBakh-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "YekanBakh Heavy";
    src: url(../fonts/YekanBakh-Heavy.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Medium";
    src: url(../fonts/YekanBakh-Medium.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Regular";
    src: url(../fonts/YekanBakh-Regular.woff) format("woff2");
}

/*
=============
  Reest Css
=============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============
  Styles Css
=============
*/
:root {
	--text-color: #1D2939;
	--primery-color: #2EC4B6;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: "YekanBakh Medium", sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
}

.container {
	width: 1216px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Header */
.header {
	padding-top: 1rem;
    margin-bottom: 4.8rem;
	background-color: white;
	position: relative;
	z-index: 20;
}

.header > .container {
	height: 8rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.heaser__wrapper {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.menu {
	display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.4rem;
}

.menu__item {
	transition: all 150ms ease-in;
	position: relative;
}

.menu__link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .8rem;
	color: var(--text-color);
	transition: all .2s ease-in .1s;
}

.menu__link:hover {
	color: var(--primery-color);
}

.menu__link:hover svg {
	stroke: var(--primery-color);
}

.menu__item:hover .submenu__wrapper {
	opacity: 1;
	visibility: visible;
}

.submenu__wrapper {
	position: absolute;
    right: 0;
    top: 2.4rem;
	opacity: 0;
	visibility: hidden;
	transition: all 120ms ease-in;
	background-color: transparent;
	z-index: 20;
}

.submenu {
	margin-top: 2.4rem;
	background-color: #F4F4F5;
	height: 28.8rem;
	width: 44rem;
	border-top: 1px solid #E1E1E1;
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
}

.overlay {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.cart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
    border: 2px solid #E5E5E5;
	background-color: white;
    border-radius: 1rem;
    padding: 1rem;
	position: relative;
	cursor: pointer;
} 

.cart__badge {
    position: absolute;
	width: 2.2rem;
	height: 2.2rem;
    top: -.7rem;
    right: -.6rem;
    color: white;
    background-color: var(--primery-color);
    border-radius: 100%;
    font-size: 1rem;
	font-family: "YekanBakh Regular";
	border: 3px solid white;
	line-height: 1.9rem;
} 

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .4rem;
    color: var(--primery-color);
    border: 2px solid var(--primery-color);
    border-radius: 1rem;
    padding: 1rem;
}

/* Main */
.main {
	width: 100%;
	height: 33.8rem;
	background-color: var(--primery-color);
	border-radius: 1rem;
	margin-bottom: 11.2rem ;
}